
*, ::before,::after{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: #d9d9d9;
}
.container1, .container2, .container3,.container4, .container5{
    display: flex;
    height: 100vh;
    width: 100vw;  
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
    padding-top: 4em; 
}

.container2{
    height: 90vh;
    padding-bottom: 8em;
}
.container6{
    height: 100vh;
    width: 100vw; 
}
.first-nav-bar{
    position: sticky;
    background: #f2f2f2;
    display: flex;
    gap: 30em;
    align-items: center;
    width: 100vw;
    height: 5em;
    z-index: 3;
}
.hamburger{
    width: 2em;
    height: 0.3em;
    background: rgb(27, 27, 27);
    
}
.hamburger::after,.hamburger::before{
    content: "";
    margin-left: 6em;
    margin: -1.1em 0 0 0em;
    display: block;
    width: 2em;
    height: 0.3em;
    border-radius: 2px;
    background: rgb(27, 27, 27);
}
.hamburger::before{
    margin: -0.7em 0 0 0em;
}

.second-nav-bar{
    background: #FFFFFF;
    width: 100%;
    height: 5em;
}
.nicepageLogo{
    width: 15em;
    height: 4em;
    background-image: url("./images/logo-w.png");
    background-size: cover;
    background-position: center;
}
.second-logo{
    margin-top: -0.4em;
    width: 9em;
    height: 4.4em;
    background-image: url("./images/3d1cb46b-c73f-44c9-a49f-f830531c72dd.png");
    background-size: cover;
    background-position: center;
}
.content1,.content3,.content5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 90%;
}

.right3,.left3{
    background: white;
    width: 50%;
    height: 90%;
    background: white;
    position: relative
}
.right3{
    padding-left: 3em;
}
.left1, .right1{
    width: 50%;
    height: 90%;
    background: white;

}
.right1{
    align-items: left;
}
.left1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right1-heading,.right1-heading2{
    font-family: 'Montserrat', sans-serif;
    color: #c0c0c0;
    font-size: 3em;
    
}
.right1-heading2{
    font-size: 2em;
}

.container5-heading{
    margin-top: 3em;
}
.right1-heading{
    margin-top: 1em;
}
.right1-heading2{
    color: #111;
    top: 1em;
}
.right-short-text{
    width: 50ch;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 2em;
    font-size: 1em;
    color:#111;
    /* margin-top: 2em; */
}
.learn-more{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: #f5c639;
    width: 8em;
    height: 3em;
    outline: none;
    border-style: none;
    margin: 1em 0 2em 0;
    box-shadow: -3px 2px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 2px 8px 0px rgba(0,0,0,0.75);
}
.pic-source, .pic-source-link{
    font-weight: 400;
    font-style: italic;
    line-height: 2em;
    font-size: 1em;
}
.pic-source-link{
    text-decoration: none;
    color: #111;
}

.pic-source-link::after{
    content: "";
    margin-left: 6em;
    margin-top: -0.53em;
    display: block;
    width: 3.2em;
    border-radius: 2px;
    height: 2px;
    background: #afaeae;
}
.pic-source-link:hover::after{
    background: #f5c639;
}
.content2,.content4, .content6{
    padding: 2em 0 2em 0;
    width: 75%;
    display: flex;
    flex-direction: row;
    gap:2em;
}
.content6{
    align-items: center;
    justify-content: center;
    padding: 2em 0 2em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
p,.form-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 30ch;
    line-height: 2em;
    font-weight: 300;
}
.left1-img-container{
    z-index: 2;
    width: 30em;
    height: 40em;
    margin-bottom: 8em;
    background-image: url("./images/img_1.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
}
.left3-img-container{
    z-index: 2;
    width: 30em;
    height: 40em;
    margin: -8em 03em 0 4em ;

    background-image: url("./images/img_2.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
}
.left5-img-container{
    z-index: 2;
    width: 27em;
    height: 39em;
    margin-bottom: 9em;
    background-image: url("./images/img_3.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -2px 27px -3px rgba(0,0,0,0.75);
}
.first, .second, .third{
    width: 70ch;
    align-items: left;
    
}
.right-short-text{
    /* margin-left: 1em; */
}
.dog-advise{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 100%;
    height: 40%;
}
.container6-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color:#111;
    flex-direction: row;
}
.underline{
    width: 60em;
    height: 1px;
    background: rgb(19, 19, 19);
    margin-top: -1em;
}

.dog{
    display:flex;
    flex-direction: row;
    gap: 1em;
}
.dog-img1, .dog-img2{
    width: 5em;
    height: 5em;
    background: tan;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
.dog-img1{
    background-image: url("./images/circle-dog-1.jpg");
}
.dog-img2{
    background-image: url("./images/circle-dog-2.jpg");
}
.dog-txt{
    height: 7em;
    width: 20em;
}
.img-row{
    width: 100%;
    height: 18en;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
    
}
.doggie1, .doggie2, .doggie3, .doggie4, .doggie5{
    width: 15em;
    height: 15em;
    background-size: cover;
    background-position: center;
}
.doggie1{
    background-image: url("images/dog-image-row1.jpg");
}
.doggie2{
    background-image: url("images/dog-image-row2\ \(2\).jpg");
}
.doggie3{
    background-image: url("images/dog-image-row3.jpg");
}
.doggie4{
    background-image: url("images/dog-image-row4.jpg");
}
.doggie5{
    background-image: url("images/dog-image-row5.jpg");
}
.doggie:hover{
    /* opacity: 0.1; */
    background: rgba(0,0,0,0.4);
}
.mod{
    padding: 2em 0 2em 0;
}
.footer1,.footer2{
    width: 100vw;
}
.footer1{
    display: flex;
    height: 38vh;
    background: #f5c639;
    justify-content: center;
    align-items: center;
}
.footer2{
    height: 48vh;
    background: #3d3d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 60em;
    height: 22em;
    background: white;
    z-index: 2;
    top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.form-text,label{
    font-family: 'Open Sans', sans-serif;
    color: #808080;
}
.form-left,.form-right{
    /* margin-top: 4em; */
    width: 45%;
    height: 87%;
    padding-top: 5em;
}
.form-left{
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}
.form-content{
    display: flex;
    flex-direction: column;
    
}
.form-right{
    /* background: white; */
}
.phone-and-email{
    display: flex;
    gap: 2em;
}
label{

    color:rgb(19, 19, 19)
}
.name,.phoneAndEmail{
    border-style: none;
    background: #f2f2f2;
    height: 3em;
}
.phoneAndEmail{
    width: 15.5em;
}
button, .learn-more{
    height: 3em;
    background: #f5c639;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -3px 2px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 2px 8px 0px rgba(0,0,0,0.75);
}
button:hover{
    background: black;
    color: white;
    
}
.device{
    width: 8em;
    height: 8em;
}
.last{
    padding-left: 40em;
}
.footer-txt{
    width: 100%;
    right: 10em;
}
@media screen and (max-width: 600px){
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    .second-nav-bar{
        position: sticky;
        z-index: 3;
    }
    .phone-and-email, .form, .content1,.content2,.content4,.content3,.content5,.form-left,.img-row{
        flex-direction: column;
    }
    .container1, .container2, .container3,.container4, .container5{
        height: 250vh;
    }
    .container2{
        height: 100vh;
    }
    .container3{
        height: 150vh;
    }
    .container4{
        height: 200vh;
    }
    .container6{
        height: 300vh;
    }
    .content6{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right1,.left1,.right3,.left3{
        background: white;
        width: 125%;
        height: 50%;
        background: white;
        padding-bottom: 6em;
    }
    .right1{
        width: 30em;
        padding: 2.56em;
        /* background: red; */
        margin-bottom: 2em;
        
    }
    .underline{
        width: 15em;
    }
    p{
        font-size: 1em;
        width: 80%;
    }
    .right1-heading,.right1-heading2,.right-short-text{
        margin-right: 4em;
    }
    .form-left{
        width: 70%;
        
    }
    .form-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 4em;
        width: 70%;
        height: 60%;
        margin-bottom: -7em;
    }
    .form{
        width: 60%;
        height: 120%;
        margin-bottom: -12em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-text{
        width: 20ch;
        margin-right: 2em;
    }
    .footer1{
        height: 40em;
    }
    .phoneAndEmail{
        width: 100%;
    }
    .phoneAndEmail, .name{
        width: 20em;
        height: 4em;
    }
    .form-heading{
        font-size: 2.05em;
        width: 12ch;
    }
    .icon{
        margin-left: 1.75em;
    }
    .second-logo{
        width: 8em;
        height: 3.4em;
    }
    .dog-advise{
        margin-right: 2em;
        gap: 2.5em;
    }
    .left3{
        top: -23em;
        padding-top: 1em;
      
    }
    .last{
        margin-left: -em;
    }
    .right3{
        top: 43em;
        width: 114.2%;
        /* padding: -2em 0 -8em 0; */
    }
   
}