*{
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}
body{
    background: rgb(204, 176, 176);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pick{
    font-size: 1em;
    color: rgb(56, 55, 55);
}
.title{
    font-size: 6em;
    color: rgb(56, 55, 55);
}
.game-board{
    padding-top: 4em;
}
.btn{
    font-size: 1em;
    font-weight: 200;
}
.row1, .row2, .row3{
    display: flex;
}
.btn{
    width: 8em;
    height: 8em;
    font-style: normal;
    font-weight: bold;
    border: solid rgb(56, 55, 55);
    background-color: bisque;
}
#one{
    background: blue;
}