*,*::before,*::after{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 60vw;
    height: 90vh;
    background: #f2f2f2;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
    /* background: red; */
.content-left, .content-right{
    width: 45%;
    height: 90%;
}
.content-left{
    display: flex;
    flex-direction: column;
    background: #fffbfb;
    /* justify-content: center; */
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
   padding: 2em;
   gap: 1em;
}
.content-right{
    background-image: url("images/pexels-polina-tankilevitch-5234463.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* FORM */
.custom-field{
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
}
.custom-field input{
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;

}
.custom-field .placeholder{
    position: absolute;
    left: 5px;
    top: 10px;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;

}
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
    top: -10px;
    font-size: 10px;
    color: #222;
}
.custom-field.one input{
    background: none;
    border: 2px solid #ddd;
    transition: 
        border-color 0.3s ease;
    transition-delay: 0.1s;
}
.custom-field.one input:valid, 
.custom-field.one input:focus{
    border-color: #222;
}
.custom-field.one input:valid + .placeholder,
.custom-field.one input:focus + .placeholder{
    top: -1px;
    padding: 2px 0 0 0;
    /* right: 2px; */
    background: #fff;
}