:root {
    /*syntax;  --name:value */
    --primary-clr: red;

}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    line-height: 1.6;
    color: var(--primary-clr);
}

.sales-points,
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three{
    display: flex;
}
a{
    text-decoration: none;
}
h1, h2, h3{
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}