*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background: #011627; */
    position: relative;
}
nav{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaf4f4;
    /* background: transparent; */
    border-bottom: solid 2px rgba(0,0,0, 0.3);
    position: sticky;
    transition: all 0.5s ease;
}
ul{
    display: flex;
    gap: 2em;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    /* color: #fdfffc; */
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fdfffc;;
    display: block;
    margin: auto;   
    transition: 0.5s
}
nav ul li:hover::after{
    width: 100%;
}
.bdy{
    height: 200em;
    background: #011627;
    transition: all 0.5s ease;
}
/* ************************* */
.testimonial-card{
    width: 30em;
    height: 15em;
    background: #ffeedd;
    border-radius: 2em;
    margin: 3em;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    gap: 5%;
}
.name{
    display: flex;
    flex-direction: column;
    margin-left: -1em;
}
.img{
    width: 7em;
    height: 7em;
    background: #0c0a3e;
    border-radius: 100%;
}
.quote{
    width: 6em;
    height: 6em;
    background: #407ba7;
}
.bottom{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 1.5em;
}

button{
    width: 10em;
    height: 4.5em;
    border: none;
    outline: none;
    text-align: center;
    background: #003459;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 400;
    border-radius: 2.5em;
    transition: all 0.6s ease;
}
button:hover{
    background: #468faf;
}
